@charset "UTF-8";

/* 초기화 */
* {
  margin: 0;
  padding: 0;
}
body {
  width: 960px;
  margin: 0 auto;
  font-family: sans-serif;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}
img {
  border: 0;
}

/* 헤더 */

header {
  width: 960px;
  height: 200px;
  margin: 0 auto;
  position: relative;
  /* height: 145px; */
}
#main_gnb {
  position: absolute;
  left: 250px;
  top: 140px;
}

#main_gnb > li {
  display: inline-block;
  padding: 7px 8px 6px;
}

#main_lnb {
  position: absolute;
  left: 280px;
  top: 30px;
  font-size: 14px;
}

#main_lnb > li {
  display: inline-block;
  padding: 7px 8px 6px;
}

#center {
  position: absolute;
  left: 230px;
  top: 70px;
  margin: 0 auto;
}

/* 콘텐츠 */

#content {
  width: 960px;
  margin: 0 auto;
  display: inline;
  overflow: hidden;
}
#content > article {
  float: left;
  width: 750px;
  height: 800px;
}
#content > aside {
  float: right;
  width: 200px;
  height: 800px;
}

footer {
  width: 960px;
  margin: 0 auto;
}
