body {
  width: 1440px;
  margin: 0 auto;
  /* background-image: url("background.jpg");
  background-size: 100%; */
  background-image: url("background_2.png");
  background-size: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
/* 헤더 */
header {
  width: 1440px;
  height: 140px;
}
/* 네비게이션 */
.logo {
  display: flex;
  justify-content: center;
  width: 1440px;
  margin: 20px;
}

nav {
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 15px;
}

nav * {
  display: flex;
  justify-content: center;
  /* background-color: rgba(255, 255, 255, 0.7);
  border-radius: 10px; */
  width: 1440px;
  text-decoration: none;
  margin: 10px;
  color: #1b7dc7;
  font-family: Noto Sans, Noto Sans KR, Roboto, Oxygen, Ubuntu, Cantarell,
    "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 20px;
  font-weight: bold;
}

.user_info a:hover {
  color: #dc61a5;
}
